<?xml version="1.0"?>
<config>
    <modules>
        <ToanTC_ToanModule>
            <version>0.1.0</version>
        </ToanTC_ToanModule>
    </modules>
    <frontend>
        <routers>
            <toanmodule>
                <use>standard</use>
                <args>
                    <module>ToanTC_ToanModule</module>
                    <frontName>toanmodule</frontName>
                </args>
            </toanmodule>
        </routers>
        <layout>
            <updates>
                <toanmodule>
                    <file>toanmodule.xml</file>
                </toanmodule>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <toanmodule>
                <class>ToanTC_ToanModule_Helper</class>
            </toanmodule>
        </helpers>
        <blocks>
            <toanmodule>
                <class>ToanTC_ToanModule_Block</class>
            </toanmodule>
        </blocks>
    </global>
    <phpunit>
        <suite>
            <modules>
                <ToanTC_ToanModule />
            </modules>
            <groups>
                <lib>local</lib>
            </groups>
        </suite>
    </phpunit>
</config>
